name: Build and Push Docker Images

on:
  schedule:
    # Run daily at 04:00 runs
    - cron: '0 4 * * *'
  workflow_dispatch:
    inputs:
      reason:
        description: 'Reason for manual trigger'
        required: false
        default: 'Manual update'

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: protonmail-bridge
            repo: https://github.com/bostrot/protonmail-bridge-docker.git
            # The context directory relative to the repository root
            context: build/
            # The target image name (user/repo)
            image_name: bostrot/protonmail-bridge
            # Platforms to build for
            platforms: linux/amd64,linux/arm64
            # Path to Dockerfile relative to context, if not default 'Dockerfile'
            dockerfile: Dockerfile
            # Optional build arguments (newline separated)
            # build_args: |
            #   ARG1=value1
            
          # Add more repositories here like this:
          # - name: another-repo
          #   repo: https://github.com/user/repo.git
          #   context: .
          #   image_name: user/image
          #   platforms: linux/amd64,linux/arm64

    steps:
      - name: Checkout target repository
        run: |
          git clone ${{ matrix.repo }} repo
          
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          # context should be the path to the directory containing the Dockerfile (or build context)
          # We cloned into 'repo', so it's repo/ + matrix.context
          context: ./repo/${{ matrix.context }} 
          file: ./repo/${{ matrix.context }}/${{ matrix.dockerfile }}
          platforms: ${{ matrix.platforms }}
          push: true
          tags: ${{ matrix.image_name }}:latest
          build-args: ${{ matrix.build_args }}
